/uploads/input_video.mp4
/yolov8x.pt
/static/output.mp4
/output_videos/output_video.mp4
/output_videos/output_video.avi
/models/yolo5_last.pt
/models/yolo5_best.pt
/models/keypoints_model.pth
/input_videos/image.png
/input_videos/input_video.mp4
/training/yolo11n.pt
/training/yolov5l6u.pt
/runs/detect/predict/input_video.avi
/training/runs/detect/train/weights/best.pt
/training/runs/detect/train/weights/last.pt
/training/runs/detect/train/args.yaml
/training/runs/detect/train/confusion_matrix.png
/training/runs/detect/train/confusion_matrix_normalized.png
/training/runs/detect/train/F1_curve.png
/training/runs/detect/train/labels.jpg
/training/runs/detect/train/labels_correlogram.jpg
/training/runs/detect/train/P_curve.png
/training/runs/detect/train/PR_curve.png
/training/runs/detect/train/R_curve.png
/training/runs/detect/train/results.csv
/training/runs/detect/train/results.png
/training/runs/detect/train/train_batch0.jpg
/training/runs/detect/train/train_batch1.jpg
/training/runs/detect/train/train_batch2.jpg
/training/runs/detect/train/train_batch2430.jpg
/training/runs/detect/train/train_batch2431.jpg
/training/runs/detect/train/train_batch2432.jpg
/training/runs/detect/train/val_batch0_labels.jpg
/training/runs/detect/train/val_batch0_pred.jpg
/training/runs/detect/train/val_batch1_labels.jpg
/training/runs/detect/train/val_batch1_pred.jpg
/training/runs/detect/train/val_batch2_labels.jpg
/training/runs/detect/train/val_batch2_pred.jpg
/training/data/images/
/training/data/data_train.json
/training/data/data_val.json
/training/tennis-ball-detection-6/
